body{
    padding: 150px 20px;
}
.login-form{
    box-shadow: 5px 5px 10px gray;
}
.title h4{
    margin-bottom: 40px;
}

/* #login-area{
    display: none;
} */

.deposit{
    background-color: slateblue;
    color: white;
}
.withdraw{
    background-color: darksalmon;
    color: white;
}
.balance{
    background-color: darkorange;
    color: white;
}

@media screen and (max-width: 992px){
    .card-responsive{
        max-width: 50%;
        margin: auto;
    }
    card-responsive2{
        max-width: 60%;
    }
    .full-width{
        width: 100%;
    }
}